* {margin: 0;padding: 0;}

a {text-decoration: none;color: inherit;}

ul,ol {list-style: none;}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;}

em,i,address {font-style: normal;}

strong,b {font-weight: 400;}

img {max-width: 100%;}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'TheJamsil';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'TheJamsil';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.ttf') format("truetype");
    font-display: swap;
}


body {
    font-family: 'yg-jalnan';
}


.topBar {
    border: 1px solid black;
    background: #bfdff7;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    /* padding: 0px 30px; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.topBarLeft {
    /* border: 1px solid lime; */
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}

.topLogo {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.topLogo>h1 {
    margin-right: 10px;
}

.topLogo>h1 img {
    width: 50px;

}

.gnb {
    /* border: 1px solid red; */
    width: 190px;
}

.gnb>ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.gnb>ul>li {
    /* display:flex;
    align-items: center; */
    cursor: pointer;
}

.gnb>ul li p {
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
}

.topBarRight {
    /* border: 1px solid blue; */
    margin-right: 60px;
    width: 264px;
    height: 100%;
}

.topBarRight>ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topBarRight>ul>li {
    /* width: 50px; */
}

.topBarRight>ul>.wifi {
    width: 36px;
}

.topBarRight>ul>.battery {
    width: 48px;
}

#date {
    font-family: 'TheJamsil';

}

.main {
    background: #f2dfe6 url(../img/background.svg ) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.icon {
    /* border: 1px solid red; */
    height: 316px;
    position: absolute;
    top: 130px;
    right: 74px;
}

.icon>ul>li {
    cursor: pointer;
}

.icon>ul>.aboutMe {
    margin-bottom: 35px;
}

.icon img {
    width: 126px;
}

.icon>ul>li p {
    text-align: center;
}

.underBar {
    /* border: 1px solid blue; */
    width: 700px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 350px);
    z-index: 2;
}

.underBar>ul {
    display: flex;
    justify-content: space-between;
}

.underBar>ul>li {
    /* flex: 1; */
    cursor: pointer;
}

.underBar>ul>li img {
    height: 76px;

}

.ballon>ul {
    display: flex;
}

.ballon>ul>li {
    /* display: none; */
    width: 156px;
    height: 72px;
    /* left: 566px;
    bottom: 130px; */
    /* padding: 12px 12.8px; */
    opacity: 0;
}
.ballon>ul>li.on{
    opacity: 1;
}

.ballon>ul>li>img {
    /* border: 1px solid blue; */
    position: relative;
}

.ballon>ul>li>h3 {
    /* border: 1px solid red; */
    width: 100px;
    height: 40px;
    font-size: 14px;
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* transform: translateY(10px); */
    text-align: center;
}

.ballon>ul>.ballonContact {
    position: absolute;
    bottom: 88px;
    left: -41px;
}

.ballon>ul>.ballonPopup {
    position: absolute;
    bottom: 80px;
    left: 84px;
}

.ballon>ul>.ballonVideo {
    position: absolute;
    bottom: 65px;
    left: 208px;
}

.ballon>ul>.ballonRedesign {
    position: absolute;
    bottom: 68px;
    left: 337px;
}

.ballon>ul>.ballonSkill {
    position: absolute;
    bottom: 79px;
    left: 458px;
}

.ballon>ul>.ballonSetting {
    position: absolute;
    bottom: 82px;
    left: 583px;
}



.underBarW {
    /* border: 1px solid red; */
    width: 820px;
    height: 36px;
    background: #fff;
    opacity: 0.8;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: 36px;
    z-index: 1;
    transform: translateX(-50%);
    box-shadow: 0px 5px 10px 2px #00000024;
}






/* ----------------------------------------------------------------------------------------------- */

.popupFrame {
    /* position: fixed;
    z-index: 10;
    left:0;
    top:0;
    width:100%;
    height:100%; */
}

@keyframes popupshow {
    0%{transform:scale(0)}
    80%{transform:scale(1.2)}
    100%{transform:scale(1)}
}
.popupBasicStyle {
    border: 1px solid black;
    position: fixed;
    left: 516px;
    top: 224px;
    width: 820px;
    /* height: 506px; */
    background: #fff;
    border-radius: 15px;
    user-select: none;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    
    
}
.popupBasicStyle.on{
    opacity: 1;
    pointer-events: auto;
    /* animation:popupshow 0.5s ease 0s 1 forwards; */
}
.popupContents {
    padding: 80px 30px;
    max-height: 800px;
    overflow: auto;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}

.popupStateLine {
    border-bottom: 1px solid black;
    height: 40px;
    background: #bbdfff;
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
    position: relative;
    /*  drag cursor   */
    cursor: pointer;
}

.popupBtn {
    /* border: 1px solid red; */
    height: 28px;
    width: 108px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.popupBtn section {
    border: 1px solid black;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.popupBtn>.popupBtnClose {
    background: #ec6a5e;
}

.popupBtn>.popupBtnClose>span {
    width: 20px;
    height: 1px;
    background: #000;
    display: block;
    margin: 6.7px auto;
    transform-origin: 22% center;
    margin-top: 8px;
    margin-right: 2px;
}

.popupBtn>.popupBtnClose>span:nth-of-type(1) {
    transform: rotate(50deg);
}

.popupBtn>.popupBtnClose>span:nth-of-type(2) {
    transform: rotate(-50deg);
}

.popupBtn>.popupBtnYellow {
    background: #f4bf4f;
}

.popupBtn>.popupBtnGreen {
    background: #61c653;
}





/* welcome */

.popupBasicStyle.welcome{
    position: fixed;
    left: calc(50% - 450px);
    top: calc(50% - 290px);
}

.welcome .popupContents {
    height: 240px;
}

/* .popupBasicStyle.welcome.off {
    display: none;
} */

.popupBasicStyle.welcome>.popupStateLine>h1 {
    font-size: 5rem;
    position: absolute;
    top: 125px;
    left: 50px;
}

.welcomeDeco {
    width: 270px;
    position: absolute;
    top: -75px;
    right: -115px;
}

.welcomeTxt {
    font-size: 4rem;
    display: inline;
    vertical-align: middle;
    border-right: .05em solid black;
    animation: cursor 0.1s ease 0.1s;
}

/* aboutMe */

.popupBasicStyle.popupAboutMe {
    position: fixed;
    left: calc(50% - 450px);
    top: calc(50% - 290px);
    width: 900px;
    height: 567px;
    display: none;
}

.popupBasicStyle.popupAboutMe.on {
    display: block;
}
.tabMenu{
    border: 1px solid black;
    background: #eae4d3;
    width: 97%;
    height: 450px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 105px;
    left: 13px;
}
.tabMenu>dt{
    width: 270px;
    height: 51px;
    border: 1px solid black;
    background: #eae4d3;
    font-size: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /* justify-content: center;
    align-items: center; */
    cursor: pointer;
    position: absolute;

}
.tabMenu>dt:nth-of-type(1){
    top: -52px;
    left: 30px;
}
.tabMenu>dt:nth-of-type(2){
    top: -52px;
    left: 301px;
}
.tabMenu>dt:nth-of-type(3) {
    top: -52px;
    left: 572px;
}
.tabMenu>dt>p{
    /* border: 1px solid red; */
    text-align: center;
    transform: translateY(12px);
    color: #000
}
.tabMenu>dt.on {
  background: #DD5722;
  color: #fff;
}
.tabMenu>dt.on+dd {
  display: block;
}
.tabMenu>dd{
    display: none;
}
.tab1{
    width: 900px;
    display: flex;
    justify-content: space-around;
}
.iamHyein {
    margin-left: 50px;
}

.iamHyein>img {
    width: 240px;
}
.iamHyein>h2 {
    font-size: 2rem;
    text-align: center;
}

.hyeinIntroduce {
    font-size: 24px;
    color: #dd5722;
    margin-right: 60px;
    margin-top: 50px;
}

.hyeinIntroduce>li {
    border-bottom: 2px solid #dd5722;
    margin-bottom: 30px;
}

.hyeinIntroduce>li>span {
    /* border: 1px solid red; */
    color: #28241d;
}






/* popup */

.popupBasicStyle.popupPopup {
    position: fixed;
    left: calc(50% - 433px);
    top: calc(50% - 252px);
    /* transform: translateX(-50%); */
    width: 866px;
    height: 504px;
}

.popupBasicStyle.popupPopup.on {
    display: block;
}

.popupContents.popupPopup {
    /* border: 1px solid blue; */
    /* position: relative; */
    /* width: 860px; */
    height: 462px;
    padding: 5px 0;
}
.popupContents.popupPopup>section{
    border: 1px solid black;
    border-bottom: none;
    width: 90px;
    height: 30px;
    margin-left: 142px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.popupContents.popupPopup>section>h4{
    /* border: 1px solid red; */
    height: 100%;
    font-size: 8px;
    font-family: 'TheJamsil';
    font-weight: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popupTop{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.popupTop>.popupTopLeft{
    /* border: 1px solid red; */
    display: flex;
    width: 120px;
    /* height: 20px; */
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.popupTop>.popupTopLeft>li>img{
    height: 20px;
}
.popupTop>section{
    position: absolute;
    border: 1px solid black;
    border-radius: 14px;
    width: 605px;
    height: 28px;
    top: 9px;
    left: calc(50% - 260px);
}
.popupTop>.popupTopRight{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: space-between;
    margin-right: 50px;
}
.popupTop>.popupTopRight>li>.popupStar{
    width: 18px;
}
.popupTop>.popupTopRight>li>.popupMenu{
    height: 20px;
}
.popupBottom{
    position: absolute;
    top: 202px;
    left: 85px;
}
.popupBottom>figure{
    width: 700px;
}
.popupBottom>section{
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    width: 480px;
    height: 34px;
    top: 176px;
    left: calc(50% - 240px);
}
.popupBottom>section>img{
    /* border: 1px solid red; */
    height: 22px;
    position: absolute;
    top: 5px;
    left: 14px;
}
.popupBottom>figure>svg path:nth-of-type(1){
   animation: popupAnimation 1s ease 0s;   
}
.popupBottom>figure>svg path:nth-of-type(2){
    animation: popupAnimation 1s ease 0.1s;   
 }

/* popup -n*/
.popupBasicStyle.popupPopup-1 {
    /* position: fixed; */
    left: calc(50% - 433px);
    top: calc(50% - 252px);
    width: 450px;
}

.popupBasicStyle.popupPopup-1.on {
    /* display: block; */
}

.popupContents.popupPopup-1 {
    padding: 0;
    line-height: 0;
}

.popupBasicStyle.popupPopup-2 {
    /* position: fixed; */
    left: calc(50% - 433px);
    top: calc(50% - 252px);
    width: 350px;
}

.popupBasicStyle.popupPopup-2.on {
    /* display: block; */
}

.popupContents.popupPopup-2 {
    padding: 0;
    line-height: 0;
}

.popupBasicStyle.popupPopup-3 {
    /* position: fixed; */
    left: calc(50% - 433px);
    top: calc(50% - 252px);
    width: 400px;
}

.popupBasicStyle.popupPopup-3.on {
    /* display: block; */
}

.popupContents.popupPopup-3 {
    padding: 0;
    line-height: 0;
}

.popupBasicStyle.popupPopup-4 {
    /* position: fixed; */
    left: calc(50% - 433px);
    top: calc(50% - 252px);
    width: 400px;
}

.popupBasicStyle.popupPopup-4.on {
    /* display: block; */
}

.popupContents.popupPopup-4 {
    padding: 0;
    line-height: 0;
}

.popupBasicStyle.popupPopup-5 {
    /* position: fixed; */
    left: calc(50% - 433px);
    top: calc(50% - 252px);
    width: 380px;
}

.popupBasicStyle.popupPopup-5.on {
    /* display: block; */
}

.popupContents.popupPopup-5 {
    padding: 0;
    line-height: 0;
}

.popupBasicStyle.popupPopup-6 {
    /* position: fixed; */
    left: calc(50% - 433px);
    top: calc(50% - 252px);
    width: 420px;
}

.popupBasicStyle.popupPopup-6.on {
    /* display: block; */
}

.popupContents.popupPopup-6 {
    padding: 0;
    line-height: 0;
}

.popupBasicStyle.popupPopup-7 {
    /* position: fixed; */
    left: calc(50% - 433px);
    top: calc(50% - 252px);
    width: 350px;
}

.popupBasicStyle.popupPopup-7.on {
    /* display: block; */
}

.popupContents.popupPopup-7 {
    padding: 0;
    line-height: 0;
}







/* Video */
.popupBasicStyle.popupVideo {
    position: fixed;
    left: calc(50% - 433px);
    top: calc(50% - 252px);
    width: 800px;
    height: 644px;
    overflow: hidden;
}

.popupBasicStyle.popupVideo.on {
    display: block;
}

.popupContents.popupVideo {
    /* border: 1px solid blue; */
    /* position: relative; */
    /* width: 860px; */
    height: 462px;
    padding: 5px 0;
}
.popupVideo>video{
    width: 800px;
    position: absolute;
    top: 40px;
    /* left: 30px; */
}




/* my Skill */
.popupBasicStyle.popupMySkill {
    position: fixed;
    left: calc(50% - 587px);
    top: calc(50% - 330px);
    /* transform: translateX(-50%); */
    width: 1174px;
    height: 660px;
}

.popupBasicStyle.popupMySkill.on {
    display: block;
}

.popupContents.popupMySkill {
    /* border: 1px solid blue; */
    /* position: relative; */
    /* width: 860px; */
    height: 619px;
    padding:0;
    background: #F4F6EB;
}
.popupMySkill>h1{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 15px 0 5px 0;
}
.popupMySkill>ul>li>div {
    width: 0%;
    height: 40px;
    position: relative;
    background: red;
    min-width: 40px;
    border-radius: 23px;
    border: 1px solid #000;
}

.popupMySkill>ul>li>div>img {
    width: 87px;
    position: absolute;
    right: -35px;
    top: -24px;
    max-width: none;
}
.skillList {
    width: 900px;
    margin: 0 auto;
}
.skillList>li{
    margin-bottom:40px;
}
.skillList>li>div{
    background: #E2BF6F;
}


/* 리디자인 */
.popupBasicStyle.popupRedesign {
    position: fixed;
    left: calc(50% - 587px);
    top: calc(50% - 330px);
    width: 1174px;
    height: 660px;
    display: none;
}

.popupBasicStyle.popupRedesign.on {
    display: block;
}
.popupContents.popupRedesign{
    width: 100%;
    height: 620px;
    overflow: scroll;
    margin: 0 auto;
    padding: 0;
}
.popupContents.popupRedesign>img{
    width: 100%;
}


/* project */
.popupBasicStyle.popupProject {
    position: fixed;
    left: calc(50% - 433px);
    top: calc(50% - 252px);
    /* transform: translateX(-50%); */
    width: 866px;
    height: 504px;
}

.popupBasicStyle.popupProject.on {
    display: block;
}

.popupContents.popupProject {
    /* border: 1px solid blue; */
    /* position: relative; */
    /* width: 860px; */
    height: 462px;
    padding: 5px 0;
}
.popupContents.popupProject>ul{
    display: flex;
    position: absolute;
    top: 70px;
    left: 50px;
}
.popupContents.popupProject>ul>li{
    /* width: 80px; */
    height: 100px;
    margin-right: 50px;
}
.popupContents.popupProject>ul>li>img{
    height: 100px;
}
.popupContents.popupProject>ul>li>p{
    text-align: center;
}